.registration{
    display: flex;
    flex-direction: column;
    width: 100%;

    .top-bar{
        width: 100%;
        display: flex;
        .back-button{
            margin: 12px;
        }
    }

    .content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-style{
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            column-gap: 12px;
        
            .form-style{
                display: flex;
                flex-direction: column;
                column-gap: 8px;
        
                .action{
                    background-color: #00796b;
                }
            }
        }
    }
}

