<div class="question">
    <div class="question-text">{{question?.questionText}}</div>
    
    <div class="option">{{question?.option1}}</div>
    <div class="option">{{question?.option2}}</div>
    <div class="option">{{question?.option3}}</div>
    <div class="option">{{question?.option4}}</div>
    <div class="option">{{question?.option5}}</div>
    <div class="option">{{question?.option6}}</div>

    <div class="action">
        <button class="button-style" mat-raised-button color="primary" (click)="seeAnswer()">Answer</button>
        <button class="button-style" mat-raised-button color="primary" (click)="seeExplanation()">Explanation</button>
    </div>

    <div class="answer" *ngIf="displayAnswer">{{question?.answer}}</div>
</div>