<div class="page">
    <div class="top-bar">
        <button class="login-button" mat-raised-button (click)="login()">Login</button>
    </div>
    <div class="content">
        <button mat-stroked-button style="border: 2px solid #455A64;" (click)="goToJobSolutions()">
            <div class="home-action-button">
                <div class="material-icons">dataset</div>
                <div>Job Solutions</div>
            </div>
        </button>
        <button mat-stroked-button style="border: 2px solid #455A64;" (click)="goToQuestionBanks()">
            <div class="home-action-button">
                <div class="material-icons">view_cozy</div>
                <div>Question Banks</div>
            </div>
        </button>
    </div> 
</div>