<div class="page">
    <div class="top-bar">
        <button mat-icon-button (click)="goBack()">
            <mat-icon class="back-button-icon">arrow_back</mat-icon>
        </button>
        <button class="login-button" mat-raised-button (click)="login()">Login</button>
    </div>
    <div class="content">
        <div class="question-bank">
            <ng-container *ngFor="let questionBank of bcsQuestionBanks">
                <div class="item" (click)="goToQuestionBankDetails(questionBank.id)">{{questionBank?.examName}}</div>
            </ng-container>
        </div>
        <div class="question-bank">
            <ng-container *ngFor="let questionBank of primarySchoolQuestionBanks">
                <div class="item" (click)="goToQuestionBankDetails(questionBank.id)">{{questionBank?.examName}}</div>
            </ng-container>
        </div>
    </div>
</div>