.form {
    display: flex;
    flex-direction: column;

    .options {
        display: flex;
        column-gap: 20px;
        .side {
            display: flex;
            flex-direction: column;
            column-gap: 20px;
        }
    }
}