.question-item{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: #455A64;
    width: 500px;

    .question-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        font-size: 20px;
    }

    .radio-style {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        
        .option-text{
            font-size: 14px;
        }
    }
}