<page-container [returnUrl]="'admin/subject-overview'" [userType]="userType.admin">
    <div class="content">
        <div class="page">
            <mat-card>
                <form [formGroup]="topic">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter topic name</mat-label>
                        <input matInput placeholder="Enter topic name" formControlName="name" required>
                    </mat-form-field>
                </form>
            </mat-card>
            <button mat-raised-button (click)="submit()">Submit</button>
        </div>
    </div>
</page-container>