<page-structure [returnUrl]="'home'">
    <mat-form-field appearance="outline">
        <mat-label>Topic</mat-label>
        <mat-select [formControl]="topic">
            <mat-option [value]="''">All</mat-option>
            <mat-option *ngFor="let val of allTopics" [value]="val?.topicId">{{val?.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="questions">
        <ng-container *ngFor="let question of questions">
            <div class="item">
                <question-viewer [question]="question"></question-viewer>
                <button mat-stroked-button (click)="deleteFromArchive(question)">delete from archive</button>
            </div>
        </ng-container>
    </div>
</page-structure>