<page-container>
    <mat-tab-group class="admin-home">
        <mat-tab label="Exam Section">
            <div class="tab-section">
                <div class="header">
                    <div class="text">
                        <div class="title">Exam Section</div>
                        <div class="sub-title">Here you can see all exam information</div>
                    </div>
                    <div class="action">
                        <button class="create-exam" mat-raised-button (click)="createExam()">
                            Create Exam
                        </button>
                    </div>
                </div>
                <div class="content">
                    <ng-container *ngFor="let exam of examList">
                        <div class="exam-item" (click)="goToExamDetails(exam.examId)">
                            <div class="name">{{exam?.name}}</div>
                            <div class="date">Date: {{exam?.date}}</div>
                            <div class="duration">Duration: {{exam?.duration}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Subject Section">
            <div class="tab-section">
                <div class="header">
                    <div class="text">
                        <div class="title">Subject Section</div>
                        <div class="sub-title">Here you can see all subject information</div>
                    </div>
                    <div class="action">
                        <button class="create-exam" mat-raised-button (click)="createSubject()">
                            Create Subject
                        </button>
                    </div>
                </div>
                <div class="content">
                    <ng-container *ngFor="let subject of allSubjects">
                        <div class="subject-item">
                            <div class="text">{{subject?.name}}</div>
                            <div class="action material-icons" (click)="deleteSubject(subject.subjectId)">
                                delete
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Question Section">
            <div class="tab-section">
                <div class="header">
                    <div class="text">
                        <div class="title">Question Section</div>
                        <div class="sub-title">Here you can see all question information</div>
                    </div>
                    <div class="action">
                        <button class="create-exam" mat-raised-button (click)="createQuestion()">
                            Create Question
                        </button>
                    </div>
                </div>
                <div class="content">
                    <div class="questions-item">
                        <div class="subject-select">
                            <mat-form-field appearance="outline">
                                <mat-label>Subject</mat-label>
                                <mat-select [formControl]="subject">
                                    <mat-option [value]="''">All</mat-option>
                                    <mat-option *ngFor="let val of allSubjects" [value]="val?.subjectId">{{val?.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    
                        <div class="list">
                            <ng-container *ngFor="let question of questions">
                                    <div class="card">
                                        <div class="card-content">
                                            <question [question]="question"></question>
                                            <button mat-icon-button (click)="deleteQuestion(question)">
                                                <mat-icon style="color: #855646;">delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</page-container>