<div class="login">
    <mat-card class="card-style">
        <ng-container *ngIf="!canDisplayRoleForm; else roleForm">
            <form [formGroup]="loginForm" class="form-style">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
    
                <button class="action" mat-raised-button color="primary" (click)="checkCredential()">Login</button>
            </form>
        </ng-container>
        <ng-template #roleForm>
            <button class="role" mat-stroked-button (click)="setRole('admin')">Admin</button>
            <button class="role" mat-stroked-button (click)="setRole('user')">User</button>
        </ng-template>
    </mat-card>
</div>