<page-container>
    <mat-tab-group class="user-home">
        <mat-tab label="Exam Section">
            <div class="tab-section">
                <div class="header">
                    <div class="text">
                        <div class="title">Exam Section</div>
                        <div class="sub-title">Here you can see all exam information</div>
                    </div>
                </div>
                <div class="content">
                    <ng-container *ngFor="let exam of examList?.pendingExams">
                        <div class="exam-item" matRipple (click)="goToExam(exam)">
                            <div class="name">{{exam?.name}}</div>
                            <div class="date">Date: {{exam?.date}}</div>
                            <div class="duration">Duration: {{exam?.duration}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Result Section">
            <div class="tab-section">
                <div class="header">
                    <div class="text">
                        <div class="title">Result Section</div>
                        <div class="sub-title">Here you can see all result information</div>
                    </div>
                </div>
                <div class="content">
                    <ng-container *ngFor="let exam of examList?.completedExams">
                        <div class="exam-item" matRipple (click)="goToResult(exam)">
                            <div class="name">{{exam?.name}}</div>
                            <div class="date">Date: {{exam?.date}}</div>
                            <div class="duration">Duration: {{exam?.duration}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Question Section">
            <div class="tab-section">
                <div class="header">
                    <div class="text">
                        <div class="title">Archived question section</div>
                        <div class="sub-title">Here you can see all archived question information</div>
                    </div>
                </div>
                <div class="content">
                    <ng-container *ngIf="allSubjects.length">
                        <question-list (removeEvent)="deleteFromArchive($event)" [allSubjects]="allSubjects"></question-list>
                    </ng-container>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</page-container>