.button{
    height: 150px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #777888;

    .icon{
        font-size: 40px;
    }

    .text {
        margin-top: 20px;
    }
}