@import '../../shared/page-container/page-layout.scss';

.card{
    box-shadow: 2px 3px 6px #b2dfdb;
    padding: 20px 16px 20px 20px;
    border-radius: 12px;
    border: 2px solid #b2dfdb;
    .card-content{
        display: flex;
    }
}