<page-container [userType]="userType.admin">
    <div class="header">
        <div class="text">
            <div class="title">Exam Section</div>
            <div class="sub-title">Here you can see all exam information</div>
        </div>
        <div class="action">
            <button class="create-exam" mat-raised-button (click)="createExam()">
                Create Exam
            </button>
        </div>
    </div>
    <div class="content">
        <ng-container *ngFor="let exam of examList">
            <div class="exam-item" matRipple (click)="goToExamDetails(exam.examId)">
                <div class="name">{{exam?.name}}</div>
                <div class="date">Date: {{exam?.date}}</div>
                <div class="duration">Duration: {{exam?.duration}}</div>
            </div>
        </ng-container>
    </div>
</page-container>