.card-style{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 12px;

    .form-style{
        display: flex;
        flex-direction: column;
        column-gap: 8px;

        .action{
            background-color:  #455A64;
        }
    }
}