@import '../../shared/page-container/page-layout.scss';

.subject-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    height: 30px;
    background-color: white;
    border-radius: 5%;
    padding: 16px;
    box-shadow: 2px 3px 6px #b2dfdb;
    border: 2px solid #b2dfdb;

    .text{
        color: #00838f;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .action{
        cursor: pointer;
        color: red;
    }
}