.favourite{
    display: flex;
    flex-direction: column;
    width: 100%;

    .top-bar{
        width: 100%;
        display: flex;
        padding: 12px 12px;
    }

    .content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}