<div class="favourite">
    <div class="top-bar">
        <button class="back-button" mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button (click)="logout()">logout</button>
    </div>

    <div class="content">
        <mat-form-field appearance="outline">
            <mat-label>Topic</mat-label>
            <mat-select [formControl]="topic">
                <mat-option [value]="''">All</mat-option>
                <mat-option *ngFor="let val of allTopics" [value]="val?.topicId">{{val?.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="questions">
            <ng-container *ngFor="let question of questions">
                <question [info]="question"></question>
            </ng-container>
        </div>
    </div>
</div>