<page-structure [returnUrl]="'model-tests'">
    <ng-container *ngIf="result">
        <div class="result-view">
            <ng-container *ngFor="let resultItem of result?.userResult">
                <div class="item">
                    <div class="name">{{resultItem?.topic?.name}}</div>
                    <div class="number">{{resultItem?.totalMarks}}</div>
                </div>
            </ng-container>
            <div style="margin-top: 40px;">
                <h2>Rank list</h2>
                <pre>
                    {{result.rankList | json}}
                </pre>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <question-paper (submitAnswer)="submitAnswer($event)" [canSubmit]="result?.userResult?.length == 0" [exam]="exam"></question-paper>
    </ng-container>
</page-structure>