<div class="model-test-details">
    <div class="top-bar">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button (click)="logout()">logout</button>
    </div>

    <div class="content">
        <ng-container *ngIf="exam; else resultView">
            <question-paper (submitAnswer)="submitAnswer($event)" [exam]="exam"></question-paper>
        </ng-container>
        <ng-template #resultView>
            <div class="result-view">
                <ng-container *ngFor="let resultItem of result">
                    <div class="item">
                        <div class="name">{{resultItem?.topic?.name}}</div>
                        <div class="number">{{resultItem?.totalMarks}}</div>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </div>
</div>