<page-container [returnUrl]="'admin'">
    <div class="layout">
    
        <mat-card class="form">
            <button mat-raised-button (click)="createExam()">Create Exam</button>
            <div [formGroup]="form" class="input-fields">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Number of total seats</mat-label>
                    <input matInput placeholder="Number of total seats" formControlName="numberOfSeats" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Number for correct answer</mat-label>
                    <input matInput placeholder="Number for correct answer" formControlName="numberForCorrectAnswer" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Number for incorrect answer</mat-label>
                    <input matInput placeholder="Number for incorrect answer" formControlName="numberForIncorrectAnswer" required>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="allSubjects.length">
                    <mat-label>Select question subject</mat-label>
                    <mat-select [formControl]="subject">
                        <mat-option *ngFor="let val of allSubjects" [value]="val?.subjectId">{{val?.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent">
                    <mat-label>Exam date</mat-label>
                    <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div style="display: flex; justify-content: space-between;">
                    <mat-form-field appearance="outline" style="width:45%;">
                        <mat-label>Hour</mat-label>
                        <input matInput placeholder="Hour" [formControl]="hour" required>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" style="width:45%;">
                        <mat-label>Minute</mat-label>
                        <input matInput placeholder="Minute" [formControl]="minute" required>
                    </mat-form-field>
                </div>
            </div>
    
            <ng-container *ngFor="let question of questions">
                <question-selector [isSelected]="isSelectedQuestion(question)" (selectQuestion)="selectQuestion($event)" (deSelectQuestion)="deSelectQuestion($event)" [question]="question"></question-selector>
            </ng-container>
        </mat-card>
    </div>
</page-container>