<page-structure [returnUrl]="'admin'">
    <div class="layout">
        <div class="actions">
            <button mat-raised-button (click)="createTopic()">Create Topic</button>
            <button mat-raised-button (click)="createQuestion()">Create Question</button>
        </div>
    
        <mat-card class="form">
            <button mat-raised-button (click)="createExam()">Create Exam</button>
            <div [formGroup]="form" class="input-fields">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Number of total seats</mat-label>
                    <input matInput placeholder="Number of total seats" formControlName="numberOfSeats" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Number for correct answer</mat-label>
                    <input matInput placeholder="Number for correct answer" formControlName="numberForCorrectAnswer" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Number for incorrect answer</mat-label>
                    <input matInput placeholder="Number for incorrect answer" formControlName="numberForIncorrectAnswer" required>
                </mat-form-field>
            </div>
            <div class="topic-selection">
                <ng-container *ngFor="let topic of allTopics">
                    <topic-selector (selectTopic)="selectTopic($event)" (deSelectTopic)="deSelectTopic($event)" [topic]="topic"></topic-selector>
                </ng-container>
            </div>
    
            <mat-form-field appearance="outline" *ngIf="topicListForQuestionSelection.length">
                <mat-label>Select question topic</mat-label>
                <mat-select [formControl]="topic">
                    <mat-option *ngFor="let val of topicListForQuestionSelection" [value]="val?.topicId">{{val?.name}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <ng-container *ngFor="let question of questions">
                <question-selector [isSelected]="isSelectedQuestion(question)" (selectQuestion)="selectQuestion($event)" (deSelectQuestion)="deSelectQuestion($event)" [question]="question"></question-selector>
            </ng-container>
        </mat-card>
    </div>
</page-structure>