.login{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEFF1;
}

.card-style{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 12px;

    .form-style{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 8px;

        .registration{
            color: #455A64;
            cursor: pointer;
            margin-top: 16px;
        }

        .action{
            background-color: #455A64;
        }
    }
}