.page{
    display: flex;
    flex-direction: column;

    .top-bar{
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 12px;

        .logout-button{
            border-radius: 25px;
            border: 2px solid #d32f2f;
            color: #d32f2f;
        }

        .back-button {
            .back-button-icon{
                color: #455A64;
            }
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        padding: 12px;

        width: 100%;
        min-height: 85vh;
        height: fit-content;
    }
}