<div class="page">
    <div class="top-bar">
        <ng-container *ngIf="returnUrl; else blank">
            <button class="back-button" mat-icon-button (click)="goBack()">
                <mat-icon class="back-button-icon">arrow_back</mat-icon>
            </button>
        </ng-container>
        <ng-template #blank>
            <div></div>
        </ng-template>
        <button *ngIf="isLogoutAvailable" class="logout-button" mat-raised-button (click)="logout()">logout</button>
    </div>

    <div class="content">
        <ng-content></ng-content>
    </div>
</div>