<mat-drawer-container class="page">
    <mat-drawer mode="side" opened class="side-nav">
        <div class="logo-container" mat-ripple>
            <div class="logo">
                <img style="width: 100%; height: 100%;" src="../../../assets/logo1.png" alt="ExamHall">
            </div>
        </div>
        <ng-container *ngIf="userType === userEnum.student; else user">
            <button class="item" mat-button (click)="goToExamList()">
                Exam Section
            </button>
            <button class="item" mat-button (click)="goToResultList()">
                Result Section
            </button>
            <button class="item" mat-button (click)="goToArchivedQuestionList()">
                Archived Question Section
            </button>
        </ng-container>
        <ng-template #user>
            <button class="item" mat-button (click)="goToExamOverview()">
                Exam Section
            </button>
            <button class="item" mat-button (click)="goToSubjectOverview()">
                Subject Section
            </button>
            <button class="item" mat-button (click)="goToQuestionOverview()">
                Question Section
            </button>
            <button class="item" mat-button (click)="goToQuestionBankOverview()">
                Question Bank Section
            </button>
        </ng-template>
    </mat-drawer>

    <div class="top-bar">
        <ng-container *ngIf="returnUrl; else blank">
            <button class="back-button" mat-icon-button (click)="goBack()">
                <mat-icon class="back-button-icon">arrow_back</mat-icon>
            </button>
        </ng-container>
        <ng-template #blank>
            <div></div>
        </ng-template>
        <button *ngIf="isLogoutAvailable" class="logout-button" mat-raised-button (click)="logout()">Logout</button>
    </div>

    <ng-content></ng-content>
</mat-drawer-container>